# Local env files that are copied from .env.example
/.env
client/.env

node_modules
env-config.js

# GCR service account credential
json-key-file.json

# Testing artifacts (keep folders for CI, but not contents)
e2e/cypress/videos/*
!e2e/cypress/videos/.gitkeep
e2e/cypress/screenshots/*
!e2e/cypress/screenshots/.gitkeep

# Python stuff
__pycache__

# Helm sub-charts
*.tgz
